#loginDiv{
    text-align: center;
    /*align-items: center;*/
    /*display: inline-block;*/
}
#loginSubmit{
    align-content: space-around;
    background-color: #34c3eb;
    margin-top: 10px;
}
#popularSubjectsResult,#searchSubjectsResult,#subjectPresent{
    background-color: #f0f8af;
    border-radius: 8px;
    margin: 10px;
    padding:20px;
    max-width: 300px;
}
#subjectRegistrationForm{
    /*text-align: center;*/
    margin:5px;
}
#subjectInputField, #textQualificationField, #extraInformationField, #subjectRequestSubmit{
    margin-bottom: 2px;
    border-color: grey;
}